body {
   background-color: #258ea6;
   /* background-color: #333; */
   /* width: 100%; */
   /* justify-content: center; */
   /* align-items: center; */
   display: flex;
   justify-content: center;
}