
.mainCustomerForm  {
   display: flex;
   flex-direction: column;
   width: 1100px;
   height: fit-content;
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0px 10px 50px #555;
   padding: 5px 40px;
   padding-bottom: 20px;
}

.items-container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: 10px 15px 10px 15px;
   padding: 30px 10px;
   gap: 20px;
   box-shadow: 0px 10px 30px #555;
   border-radius: 10px;
   height: max-content;
}

.itemsInContainer {
   display: flex;
   flex-wrap: wrap;
}

.shirts-items-container, .shorts-items-container {
   display: flex;
   margin: 3px 0;
   padding: 15px 0;
   gap: 10px;
}

.item-cart{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: black;
   border-radius: 20px;
   width: 60%
}

.addToCartButton {
   margin-top: 10px;
   background-color: #362a89;
   color: #fff;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
}

.addToCartButton:hover{
   background-color: #4e892a;
   border: #4e892a 2px solid;
}

.summary {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}

.promo-button{
   display: flex;
   align-items: center;
   margin-top: 0;
}

.mini-container-items:nth-child(3) .img-item-container {
   width: 120px;
}

.mini-container-items:nth-child(odd) {
   padding: 20px;
   width: 125px;
   height: 320px;
   /* flex: 10; */
}


.mini-container-items{
   box-shadow: 2px 2px 32px 14px rgba(0,0,0,0.14);
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   padding: 10px 20px 10px 20px;
   width: 70%;
   flex: 1;
}

.img-item-container {
   width: 90px;
}

/* .img-item-container:nth-child(odd) .img-item-container:nth-child(odd) img{
   width: 60%;
} */

.img-item-container img {
   width: 100%;
}

.mini-container-items p {
   gap: 10px;
}

.mini-container-items label {
   align-items: center;
}

.total-price {
   justify-content: center;
   font-size: medium;
}