
.mainCustomerForm  {
   display: flex;
   flex-direction: column;
   width: 900px;
   height: 90vh;
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0px 10px 50px #555;
   padding: 5px 40px;
}

.items-container{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   /* border: brown 2px solid; */
   margin: 10px 15px 10px 15px;
   padding: 30px 10px;
   gap: 20px;
   box-shadow: 0px 10px 30px #555;
   border-radius: 10px;

}


.item-cart{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: black;
   /* border: black solid 2px; */
   border-radius: 20px;
   /* box-shadow: 0px 10px 50px #555; */
   width: 60%
}

.summary {
   display: flex;
   flex-direction: column;
}

.promo-button{
   display: flex;
   align-items: center;
   margin-top: 0;
}

.mini-container-items{
   /* border: 2px solid yellow; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   gap: 10px;
   padding: 10px 20px 10px 20px;
   width: 70%;
}

.img-item-container {
   width: 40px;
   height: 40px;
}

.img-item-container img {
   width: 100%;
}

.mini-container-items p {
   /* border: grey solid 2px; */
   gap: 10px;
}

.mini-container-items label {
   align-items: center;
}